html,

body {
    background-color: #ccecb5;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 0px;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    font-size: 20px;
    font-weight: bold;
    background-color: #107937;
    height: 100px;
    border-radius: 50px;
    align-content: center;
    margin-top: 50px;
    padding: 0px 0;
    padding-left: 40px;
    color: #ccecb5;
    margin-bottom: 50px
}

.text {
    font: 16;
    color: #000000;
    font-weight: bold;
    line-height: 2;
    align-self: center
}

.container {
    display: flex;
    justify-content: center;
    height: fit-content;
    min-width: 100%;
}

.pure-g {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%
}

#vis1 {
    min-width: 100%;
    justify-content: center;
}

#tube {
    width: 100%;
    height: 120px;
    border-radius: 60px;
}

#pyramid {
    height: 600px;
}

#texytime {
    padding-left: 50px;
    font: 16;
    color: #000000;
    font-weight: bold;
    line-height: 2;
    align-self: center
}